/Makefile
/blib
/pm_to_blib
/META.yml
/MYMETA.yml
/MYMETA.json
/Makefile.PL
/Build
/_build
/*.tar.gz
/MANIFEST.bak
/cover_db
/tmp/*
/Debian-Apt-PM-*
/cache/*
/sharedstate/dh-make-pm/*
/examples/web/CPAN/*

